<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClusterSim.Properties.Settings.ClustersimConnectionString" connectionString="Data Source=tcp:TARDIS\CLUSTERSIM,49172;Initial Catalog=Clustersim;Persist Security Info=True;User ID=Engine;Password=mynona" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
