<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClusterLib.Properties.Settings.ClustersimConnectionString"
            connectionString="Data Source=tcp:TARDIS\CLUSTERSIM,49172;Initial Catalog=Clustersim;Persist Security Info=True;User ID=Engine;Password=mynona" />
        <add name="ClusterLib.Properties.Settings.ClustersimConnectionString1"
            connectionString="Data Source=TARDIS\CLUSTERSIM;Initial Catalog=Clustersim;Persist Security Info=True;User ID=Engine;Password=mynona"
            providerName="System.Data.SqlClient" />
        <add name="ClusterLib.Properties.Settings.Online" connectionString="Data Source=mssql1.gear.host;Initial Catalog=clustersim;Persist Security Info=True;User ID=clustersim;Password=Vq73wF?zo75?" />
    </connectionStrings>
</configuration>