<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClusterSim.ClusterLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClusterSim.ClusterLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClusterLib.Properties.Settings.ClustersimConnectionString"
            connectionString="Data Source=tcp:TARDIS\CLUSTERSIM,49172;Initial Catalog=Clustersim;Persist Security Info=True;User ID=Engine;Password=mynona" />
        <add name="ClusterLib.Properties.Settings.ClustersimConnectionString1"
            connectionString="Data Source=TARDIS\CLUSTERSIM;Initial Catalog=Clustersim;Persist Security Info=True;User ID=Engine;Password=mynona"
            providerName="System.Data.SqlClient" />
        <add name="ClusterLib.Properties.Settings.Online" connectionString="Data Source=mssql1.gear.host;Initial Catalog=clustersim;Persist Security Info=True;User ID=clustersim;Password=Vq73wF?zo75?" />
        <add name="ClusterSim.ClusterLib.Properties.Settings.ClustersimConnectionString"
            connectionString="Data Source=tcp:TARDIS\CLUSTERSIM,49172;Initial Catalog=Clustersim;Persist Security Info=True;User ID=Engine;Password=mynona" />
        <add name="ClusterSim.ClusterLib.Properties.Settings.ClustersimConnectionString1"
            connectionString="Data Source=TARDIS\CLUSTERSIM;Initial Catalog=Clustersim;Persist Security Info=True;User ID=Engine;Password=mynona"
            providerName="System.Data.SqlClient" />
        <add name="ClusterSim.ClusterLib.Properties.Settings.Online"
            connectionString="Data Source=mssql1.gear.host;Initial Catalog=clustersim;Persist Security Info=True;User ID=clustersim;Password=Vq73wF?zo75?" />
    </connectionStrings>
    <userSettings>
        <ClusterSim.ClusterLib.Properties.Settings>
            <setting name="database" serializeAs="String">
                <value>offline</value>
            </setting>
        </ClusterSim.ClusterLib.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup><applicationSettings>
        <ClusterSim.ClusterLib.Properties.Settings>
            <setting name="MinPrecision" serializeAs="String">
                <value>0.001</value>
            </setting>
        </ClusterSim.ClusterLib.Properties.Settings>
    </applicationSettings>
</configuration>
